div(ng-controller="addAlterCtrl as addalt")
  h2 New solution option for goal {{addalt.alter.goalId}}
  div      
    label Description for the solution option: 
    input(type="text" ng-model="addalt.alter.description")
    
    label Add new subgoal for solution completion:
    button(ng-click="addalt.addGoal()") 
    
    button(ng-click="addalt.createAlter()") Save option
    
  div
    h3 Select a subgoal:
    
    div(ng-model="addalt.grid")
