div(ng-controller="addGoalCtrl as addgoal")
  h2 New goal
  
  div(class="formblock")
    div(class="formelem")
      label Goal description: 
      input(type="text",ng-model="addgoal.newgoal.name")
      
    div(class="formelem")
      label Priority: 
      select(ng-model="addgoal.newgoal.priority", ng-options="pri.id as pri.name for pri in addgoal.priorities")
    
    div(class="formelem")
      button(ng-click="addgoal.createGoal()") Create goal
    
    //- Esto puede venir desde el "agregar un nuevo subobjetivo para esta alternativa" o desde "agregar un nuevo top-objetivo"
